<div class="profile-page">
  <!-- banner profile -->
    <!-- photo de profile -->
  <div class="banner">
    <%= cl_image_tag @user.avatar, alt: "#{@user}'s avatar" , class:"avatar" %>
    <!-- badge de level -->
    <%= @user.points %>
    <% if @user.level == "legend" %>
      <%= image_tag "icons/legend_icon.png"%>
    <% elsif @user.level == "hero" %>
      <%= image_tag "icons/hero_icon.png"%>
    <% elsif @user.level == "champion" %>
      <%= image_tag "icons/badge_icon.png"%>
    <% elsif @user.level == "apprentice" %>
      <%= image_tag "icons/apprentice_icon.png"%>
    <% else @user.level == "rookie"%>
      <%= image_tag "icons/rookie_icon.png"%>
    <% end %>
   </div>


  <div class="profile-icons-info">
    <!-- mission-box -->
    <!-- count where user = captaingreen -->
    <%= @user.missions.count %>
    <%= image_tag "icons/bin_profile_icon.svg"%>
    <!-- count where user = mapmaster -->
    <%= @user.places.count %>
    <%= image_tag "icons/marker_profile_icon.svg"%>
    <p>***</p>
    <%= image_tag "icons/points_profile_icon.svg"%>
    <!-- count points  -->
  </div>


  <!-- on going mission box -->
  <div class="next-mission-card">
    <% if @next_mission %>
      <!-- img display -->
      <div class="image-address-time">
        <%= cl_image_tag @next_mission.place.mapmaster_photo, alt: "#{@next_mission.place.address}", class:'next-mission-photo' %>
      <!-- section current mission info -->
        <div class="address-time">
          <!-- mission name -->
          <%= @next_mission.place.address %>
          <!-- time_slot -->
          <%= @next_mission.time_slot %>
          <!-- date -->
          <%= @next_mission.date %>
        </div>
      </div>
      <div class="next-mission-buttons">
        <!-- button more info redirecting towards show of place -->
        <%= link_to "more info", place_path(@next_mission.place), class:'btn btn-success' %>

        <!-- section action -->
        <!-- button completed redirecting towards the end of mission -->
        <%= link_to "complete", review_mission_path(@next_mission), class:'btn btn-success'%>
        <!-- button cancel delete mission and delete user_id from the place db -->
        <%= link_to "cancel", cancel_mission_path(@next_mission), method: :patch, class:'btn btn-warning'%>
      </div>
    <% end %>
  </div>

<!-- past missions data (scroll)-->

    <!-- past mission card -->
  <div class="past_mission_card">
    <% if @user.missions.nil? %>
      <p>You don't have a mission history yet.</p>
      <p>Go on a mission or locate a point to see something here </p>
    <% else %>
    <div class="past-cards">
      <% @user.missions do |mission| %>
        <% if @user.mission.status == "completed" %>
        <div class="mission_done">
          <h3>Mission <%= mission.date %>
          <%= mission.time_slot %></h3>
           <%= cl_image_tag mission.mapmaster_photo, class: 'memorypic'%>
           <%= mission.place.volume %>
          <%= mission.place.adress %>
        </div>
        <% end %>
      <% end %>
      <% @user.places.each do |place| %>
        <div class="mission_done">
          <h3>Location<%= place.created_at %></h3>
          <%= cl_image_tag place.mapmaster_photo, class: 'memorypic' %>
          <%= place.status %>
          <%= place.volume %>
          <%= place.address%>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

 </div>
