<div class="profile-page">
  <!-- banner profile -->
    <!-- photo de profile -->
  <div class="banner">
    <%= link_to root_path do %>
      <%= image_tag "icons/Logo.png", class:"logo" %>
    <% end %>


    <div class="avatar-profile-medal">
      <%= cl_image_tag @user.avatar, alt: "#{@user}'s avatar" , class:"avatar" %>
      <!-- badge de level -->
      <div class="profile-medal">
        <% if @user.level == "legend" %>
          <%= image_tag "icons/legend_icon.png"%>
        <% elsif @user.level == "hero" %>
          <%= image_tag "icons/hero_icon.png"%>
        <% elsif @user.level == "champion" %>
          <%= image_tag "icons/badge_icon.png"%>
        <% elsif @user.level == "apprentice" %>
          <%= image_tag "icons/apprentice_icon.png"%>
        <% else @user.level == "rookie"%>
          <%= image_tag "icons/rookie_icon.png"%>
        <% end %>
      </div>
      <div class="profile-status-info">
        <% if @user.level == "legend" %>
          <p>Legend</p>

        <% elsif @user.level == "hero" %>
          <p>Hero</p>
        <% elsif @user.level == "champion" %>
          <p>Champion</p>

        <% elsif @user.level == "apprentice" %>
          <p>Apprentice</p>

        <% else @user.level == "rookie"%>
          <p>Rookie</p>

        <% end %>
      </div>
    </div>
  </div>


  <div class="profile-icons-info">
    <!-- mission-box -->
    <!-- count where user = captaingreen -->
    <div class="profile-icon">
      <%= @user.missions.count %>
      <%= image_tag "icons/bin_profile_icon.svg", class: "profile-icon-medals-info"%>
    </div>
    <!-- count where user = mapmaster -->
    <div class="profile-icon">
      <%= @user.places.count %>
      <%= image_tag "icons/marker_profile_icon.svg", class: "profile-icon-medals-info"%>
    </div>
    <div class="profile-icon">
      <%= @user.points %>
      <%= image_tag "icons/points_profile_icon.svg", class: "profile-icon-medals-info"%>
    </div>
    <!-- count points  -->
  </div>


  <div class="global-next-mission-card">
    <% if @next_missions %>
      <h3>Your next missions</h3>
      <!-- <p class="text-center">at</p> -->
      <% @next_missions.each do |next_mission| %>
        <div class="next-mission-place-address">
          <p><i class="fas fa-map-marker-alt"></i> <%= next_mission.place.address %></p>
        </div>

        <div class="next-mission-photo-buttons">
          <!-- img display -->
          <div class="right-part-next-mission">
            <div class="next-mission-image">
              <%= cl_image_tag next_mission.place.mapmaster_photo, alt: "#{next_mission.place.address}", class:'next-mission-photo' %>
            </div>
            <div class="day-time-slot">
              <p><i class="far fa-calendar-alt"></i> <%= next_mission.date.strftime("%d %m %Y") %></p>
              <!-- time_slot -->
              <p><i class="far fa-clock"></i>  <%= next_mission.time_slot.capitalize %></p>
            </div>
          </div>

          <div class="next-mission-buttons">
            <!-- section action -->
            <!-- button more info redirecting towards show of place -->
            <!--link_to @next_mission.place_path -->
            <%= link_to "more info", place_path(next_mission.place), class:'nav-btn green-btn next-mission-options' %>
            <!-- button completed redirecting towards the end of mission -->
            <%= link_to "complete", review_mission_path(next_mission), class:'nav-btn green-btn next-mission-options'%>
            <!-- button cancel delete mission and delete user_id from the place db -->
            <%= link_to "cancel", cancel_mission_path(next_mission), method: :patch, class:'nav-btn orange-btn next-mission-options'%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- past missions data (scroll)-->

    <!-- past mission card -->
  <div class="past_mission_card">
    <% if @user.missions.nil? %>
      <p>You don't have a mission history yet.</p>
      <p>Go on a mission or locate a point to see something here </p>
    <% else %>

      <div class="mission-completed-cards">
        <h3>Your past missions</h3>
        <% @user.missions.each do |mission| %>
          <div class="one-place-profile-card">
            <% if mission.status == "completed" %>

                <h1><i class="far fa-calendar-alt"></i> <%= mission.date.strftime("%d %m %Y") %> <strong>as CaptainGreen</strong></h1>
                <div class="memorypic-container">
                  <%= cl_image_tag mission.mapmaster_photo, class: 'memorypic'%>
                </div>
                 <%#= mission.place.volume %>
                <div class="volume-address">
                  <p><i class="fas fa-map-marker-alt"></i> <%= mission.place.address %></p>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>



      <div class="place-profile-cards">
        <% @user.places.each do |place| %>
          <div class="one-place-profile-card">
            <h1><i class="far fa-calendar-alt"></i> <%= place.created_at.strftime("%d %m %Y") %> <strong>as MapMaster</strong></h1>
            <div class="memorypic-container">
              <%= cl_image_tag place.mapmaster_photo, class: 'memorypic' %>
            </div>
            <div class="volume-address">
            <%#= place.volume %>
            <p><i class="fas fa-map-marker-alt"></i> <%= place.address %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
