
<!-- banner profile -->
  <!-- photo de profile -->
  <%= cl_image_tag @user.avatar, alt: "#{@user}'s avatar" %>
  <!-- badge de level -->
  <%= cl_image_tag @user.level %>

<!-- mission-box -->
  <!-- count where user = captaingreen -->
  <%= @user.missions.count %>
  <!-- count where user = mapmaster -->
  <%= @user.places.count %>
  <!-- count points  -->
  <p>! creer un compter de point !</p>

<!-- on going mission box -->
  <!-- img display -->
  <%= cl_image_tag @user.missions.last.place.display_photo, alt: "#{@user.missions.last.place.address}" %>
  <!-- section current mission info -->
    <!-- mission name -->
    <%= @user.missions.last.place.address %>
    <!-- time_slot -->
    <%= @user.missions.last.time_slot %>
    <!-- date -->
    <%= @user.missions.last.date %>
    <!-- button more info redirecting towards show of place -->
    <!--link_to @user.missions.last.place_path -->

  <!-- section action -->
    <% if @user.missions.last != nil && @user.missions.last.status == "on going" %>
      <!-- button completed redirecting towards the end of mission -->
      <%= link_to profile_path, complete_mission_path(@user.missions.last), method: :patch %>
      <!-- button cancel delete mission and delete user_id from the place db -->
      <%= link to profile_path, cancel_mission_path(@user.missions.last), method: :patch %>
    <% end %>

<!-- past missions data (scroll)-->
  <!-- past mission card -->
  <% @user.missions do |mission| %>
    <%= mission.date %>
    <%= mission.time_slot %>
    <%= mission.diplay_photo %>
    <%= mission.status %>
    <%= mission.place.volume %>
    <%= mission.place.adress %>
  <% end %>
