<div class="navbar navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "icons/home_icon.png" %>
  <% end %>

  <%= link_to new_place_path, class: "navbar-brand" do %>
    <%= image_tag "icons/alert_page_icon.png" %>
  <% end %>

  <%= link_to places_path, class: "navbar-brand" do %>
    <%= image_tag "icons/missions_icon.png" %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to profile_path, class: "navbar-brand" do %>
      <%= image_tag "icons/profile_icon.png" %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "navbar-brand" do %>
      <%= image_tag "icons/profile_icon.png" %>
    <% end %>
  <% end %>
</div>
