  <!-- banner MISSION COMPLETE -->
<div class="header update-mission">
  <h1>MISSION COMPLETE</h1>
</div>

<!-- box instructions -->
<div class="instructions">
  <p>
    Thank you so much for your contribution! <br>
    Yet, all missions need a report! <br>
    Fortunately it will take less than 1 minute.
  </p>
</div>

<!-- form details -->
<div class="new-form">

  <div class="typewriter">
    <p>Well done! Our nature is safe with you! <i class="fas fa-heart"></i> </p>
  </div>

  <%= simple_form_for @mission, url: complete_mission_path(@mission) do |f| %>
    <h2 class="text-title-form">Show us your loot!</h2>

    <label for="mission_mapmaster_photo" class="picture-mapmaster">
        <%= image_tag'icons/alert_page_icon.png', class: "camera" %>
        <%= image_tag'icons/green_success_icon.png', class: "green-success hidden" %>
        <p class="take-picture-message">Take a picture of trashpoint and upload it right here.</p>
        <p class="well-done hidden">Great! You're now two steps away from completing your mission!</p>
    </label>

      <%= f.input :mapmaster_photo, label: false, input_html: { class: 'hidden' } %>
      <%= f.input :mapmaster_photo_cache, as: :hidden %>

    <h2 class="text-title-form quantity">HOW WAS THE BATTLE?</h2>

    <div class="volume-level-selection-wrapper">
      <label for="participation-level-1">1</label>
      <label for="participation-level-2">2</label>
      <label for="participation-level-3">3</label>
      <label for="participation-level-4">4</label>
      <label for="participation-level-5">5</label>

      <input type="radio" id="participation-level-1" value="1" name="mission[perceived_effort]" class="hidden">
      <input type="radio" id="participation-level-2" value="2" name="mission[perceived_effort]" class="hidden">
      <input type="radio" id="participation-level-3" value="3" name="mission[perceived_effort]" class="hidden">
      <input type="radio" id="participation-level-4" value="4" name="mission[perceived_effort]" class="hidden">
      <input type="radio" id="participation-level-5" value="5" name="mission[perceived_effort]" class="hidden">
    </div>

    <div class="legends-form">
      <p>I was barely exercising!</p>
      <p>I gave it my all!</p>
    </div>

    <h2 class="text-title-form quantity">HOW DOES THE PLACE LOOK LIKE NOW?</h2>

    <div class="place_after-level-selection-wrapper">
      <label for="volume_left-level-1">1</label>
      <label for="volume_left-level-2">2</label>
      <label for="volume_left-level-3">3</label>
      <label for="volume_left-level-4">4</label>
      <label for="volume_left-level-5">5</label>

      <input type="radio" id="volume_left-level-1" value="1" name="mission[volume_left]" class="hidden">
      <input type="radio" id="volume_left-level-2" value="2" name="mission[volume_left]" class="hidden">
      <input type="radio" id="volume_left-level-3" value="3" name="mission[volume_left]" class="hidden">
      <input type="radio" id="volume_left-level-4" value="4" name="mission[volume_left]" class="hidden">
      <input type="radio" id="volume_left-level-5" value="5" name="mission[volume_left]" class="hidden">
    </div>

    <div class="legends-form">
      <p>it is all clean!</p>
      <p>Is is a real mess!</p>
    </div>

    <h2 class="text-title-form text-second-title-form">Show us the result!</h2>

      <label for="mission_participation_proof" class="picture-participation-proof">
        <%= image_tag'icons/alert_page_icon.png', class: "camera participation" %>
        <%= image_tag'icons/green_success_icon.png', class: "green-success participation hidden" %>
        <p class="take-picture-message-participation">Take a picture of how clean it is now and upload it right here.</p>
        <p class="well-done-participation hidden">Dear Captain Green, your mission is set to be a great success! <i class="fas fa-thumbs-up"></i> </p>
      </label>

    <%= f.input :participation_proof, label: false, input_html: { class: 'hidden' } %>
    <%= f.input :participation_proof_cache, as: :hidden %>

    <%= f.submit 'Mission accomplished', class: "big-button complete-button" %>

  <% end %>

</div>
