
<!-- put the search bar hereafter ! -->

<!-- filters  -->
<h3>location</h3>
<h3>status</h3>
<h3>volume</h3>

<!-- cards -->
<div class="card-index-place">
  <div class="card-index-place-infos">
    <% @places.each do |place| %>
      <%= cl_image_tag place.display_photo, alt: "Photo of the site" %>
      <div>
        <p>places.adress</p>
      </div>
      <div>
        <%= image_tag "icons/grey_backpack_icon.png" %>
        <%= image_tag "icons/grey_car_icon.svg" %>
        <%= image_tag "icons/grey_truck_icon.svg" %>
        <!-- condition : the volume emoticon in green -->
        <% if 1 <= place.volume && place.volume <= 3 %>
          <%= image_tag "icons/green_bag.svg" %>
        <% elsif place.volume == 4 %>
          <%= image_tag "icons/green_car_icon.svg" %>
        <% else %>
          <%= image_tag "icons/green_truck_icon.png" %>
        <% end %>
      </div>
      <div>
        <p>emoticon nombre de participants</p>
        <%= place.missions.count %>
      </div>
    <% end %>
  </div>
</div>
