<!-- put the search bar here after ! -->

<div class="index-global-container">
  <div class="header index-places" id = "just-sticky">
    <!-- <h1 class="find-places">FIND PLACES</h1> -->
    <%= form_tag places_path, method: :get do %>
      <div class="input-group md-form form-sm form-2 pl-0">
        <!-- <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Find your next mission" aria-label="Search" name="search"> -->
        <%= text_field_tag :search,
            params[:search],
            class: "form-control my-0 py-1 lime-border opacity-search-bar",
            placeholder: "Find your next mission",
            id: 'search-by-location'
          %>
        <!-- <div class="input-group-append">
          <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fas fa-search text-grey"
              aria-hidden="true"></i></span>
        </div> -->
      </div>
    <% end %>
  </div>
  <!-- if search results are empty  -->
  <% if @places.empty? %>
    <div class="sorry-box">
      <div class="sorry-message-box">
        <span class="sorry-message"><%= "Sorry, we don't know where this is!" %></span>
      </div>
      <div>
        <%= image_tag "icons/place_not_found_icon.png", class: "where"%>
      </div>
      <div class="sorry-message-box">
        <span class="sorry-message"><%= "Please, check your address again." %></span>
      </div>
    </div>
  <% else %>
    <!-- cards -->
    <div class="global-places-cards">

      <!-- <div class="card-index-place-infos"> -->
        <% @places.each do |place| %>

            <%= link_to place_path(place[:id]), class: "link-to-place" do %>
              <div class="card-place-infos">
                <div>
                  <%= cl_image_tag place.mapmaster_photo, alt: "Photo of the site", class: "image-index" %>
                </div>

                <div class="card-place-details">
                  <p class="address-place"><i class="fas fa-map-marker-alt"></i> <%= place.address %></p>

                  <div class="participants">
                    <%= image_tag "icons/team_icon.svg", class: "group" %>
                    <p class="number-of-participants"><strong><%= place.missions.count %></strong> CaptainGreen</p>
                  </div>

                  <div class="icons-volume-place">
                    <!-- condition : the volume emoticon in green -->
                    <% if place.volume == 1  %>
                      <%= image_tag "icons/level/level_one_trash.png", class: "icon-level-of-trash" %>

                    <% elsif place.volume == 2  %>
                      <%= image_tag "icons/level/level_two_trash.png", class: "icon-level-of-trash" %>

                    <% elsif place.volume == 3  %>
                      <%= image_tag "icons/level/level_three_trash.png", class: "icon-level-of-trash" %>

                    <% elsif place.volume == 4  %>
                      <%= image_tag "icons/level/level_four_trash.png", class: "icon-level-of-trash" %>

                    <% elsif place.volume == 5  %>
                      <%= image_tag "icons/level/level_five_trash.png", class: "icon-level-of-trash" %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
    </div>
  <% end %>
</div>
