  <!-- banner TELL US MORE -->
<div class="header create-place">
  <h1>TELL US MORE</h1>
</div>

  <!-- box instructions -->
<div class="instructions">
  <p>
    Dear Mapmaster, your alert is almost complete!
    Take a minute to fill in the details.
    It will help our Captain Green prepare for their mission.
  </p>
</div>

  <!-- box details -->
<div class="new-place-form">
  <%= simple_form_for @place do |f| %>
    <h2 class="text-title-form">Show us what you've found!</h2>

    <label for="place_mapmaster_photo" class="picture-mapmaster">
        <%= image_tag'icons/alert_page_icon.png', class: "camera" %>
        <p>Take a picture of trashpoint and upload it right here.</p>
    </label>


      <%= f.input :mapmaster_photo, label: false, input_html: { class: 'hidden' } %>
      <%= f.input :mapmaster_photo_cache, as: :hidden %>

    <h2 class="text-title-form">How bad is the crime scene?</h2>

    <div class="volume-level-selection-wrapper">
      <label for="volume-level-1">1</label>
      <label for="volume-level-2">2</label>
      <label for="volume-level-3">3</label>
      <label for="volume-level-4">4</label>
      <label for="volume-level-5">5</label>

      <input type="radio" id="volume-level-1" value="1" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-2" value="2" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-3" value="3" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-4" value="4" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-5" value="5" name="place[volume]" class="hidden">
    </div>

    <div class="legends-volume">
      <p>Quite a few plastic bags around here</p>
      <p>We've a landfill situation</p>
    </div>


    <h2 class="text-title-form text-second-title-form">What kind of trash is there?</h2>

    <div class="trash-type-selection-wrapper">
      <label for="trash-type-bottle">
        <%= image_tag'icons/trash-types/bottle.png' %>
      </label>
      <label for="trash-type-can">
        <%= image_tag'icons/trash-types/can.png' %>
      </label>
      <label for="trash-type-fish">
        <%= image_tag'icons/trash-types/fish.png' %>
      </label>
      <label for="trash-type-plastic-bottle">
        <%= image_tag'icons/trash-types/plastic-bottle.png' %>
      </label>
      <label for="trash-type-trash">
        <%= image_tag'icons/trash-types/trash.png' %>
      </label>
      <label for="trash-type-fridge">
        <%= image_tag'icons/trash-types/fridge.png' %>
      </label>
      <label for="trash-type-gasoline">
        <%= image_tag'icons/trash-types/gasoline.png' %>
      </label>
      <label for="trash-type-dangerous">
        <%= image_tag'icons/trash-types/dangerous.png' %>
      </label>

      <input type="checkbox" id="trash-type-bottle"         value="bottle" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-can"            value="can" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-fish"           value="fish" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-plastic-bottle" value="plastic-bottle" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-trash"          value="trash" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-fridge"         value="fridge" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-gasoline"       value="gasoline" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-dangerous"      value="dangerous" name="place[trashes_on_site][]" class="hidden">
    </div>

    <%= f.submit 'Alert', class: "big-button alert-button" %>
  <% end %>
</div>

<!-- navbar -->
