  <!-- banner TELL US MORE -->
<div class="header create-place">
  <h1>TELL US MORE</h1>
</div>

  <!-- box instructions -->
<div class="instructions">
  <p>
    Dear Mapmaster, your alert is almost complete!
    Take a minute to fill in the details.
    It will help our Captain Green prepare for their mission.
  </p>
</div>

  <!-- form details -->
<div class="new-form">
  <%= simple_form_for @place do |f| %>
    <h2 class="text-title-form">Show us what you've found!</h2>

    <label for="place_mapmaster_photo" class="picture-mapmaster">
        <%= image_tag'icons/alert_page_icon.png', class: "camera" %>
        <%= image_tag'icons/green_success_icon.png', class: "green-success hidden" %>
        <p class="take-picture-message">Take a picture of trashpoint and upload it right here.</p>
        <p class="well-done hidden">Well done! We promise we'll fight that garbage until the very end <i class="fas fa-dragon"></i> </p>
    </label>

      <%= f.input :mapmaster_photo, label: false, input_html: { class: 'hidden' } %>
      <%= f.input :mapmaster_photo_cache, as: :hidden %>

    <h2 class="text-title-form volume">How bad is the crime scene?</h2>

    <div class="volume-level-selection-wrapper">
      <label for="volume-level-1">1</label>
      <label for="volume-level-2">2</label>
      <label for="volume-level-3">3</label>
      <label for="volume-level-4">4</label>
      <label for="volume-level-5">5</label>

      <input type="radio" id="volume-level-1" value="1" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-2" value="2" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-3" value="3" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-4" value="4" name="place[volume]" class="hidden">
      <input type="radio" id="volume-level-5" value="5" name="place[volume]" class="hidden">
    </div>

    <div class="legends-form">
      <p>Quite a few plastic bags around here</p>
      <p>We've a landfill situation</p>
    </div>


    <h2 class="text-title-form kind-of-trash">What kind of trash is there?</h2>

    <div class="trash-type-selection-wrapper">
      <label for="trash-type-glass">
        <%= image_tag'icons/trash-types/glass.svg' %>
      </label>
      <label for="trash-type-metal">
        <%= image_tag'icons/trash-types/metal.svg' %>
      </label>
      <label for="trash-type-organic">
        <%= image_tag'icons/trash-types/organic.svg' %>
      </label>
      <label for="trash-type-plastic">
        <%= image_tag'icons/trash-types/plastic.svg' %>
      </label>
      <label for="trash-type-miscellaneous">
        <%= image_tag'icons/trash-types/miscellaneous.svg' %>
      </label>
      <label for="trash-type-electronic">
        <%= image_tag'icons/trash-types/electronic.svg' %>
      </label>
      <label for="trash-type-liquid">
        <%= image_tag'icons/trash-types/liquid.svg' %>
      </label>
      <label for="trash-type-dangerous">
        <%= image_tag'icons/trash-types/dangerous.svg' %>
      </label>

      <input type="checkbox" id="trash-type-glass"          value="glass" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-metal"          value="metal" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-organic"        value="organic" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-plastic"        value="plastic" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-miscellaneous"  value="miscellaneous" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-electronic"     value="electronic" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-liquid"         value="liquid" name="place[trashes_on_site][]" class="hidden">
      <input type="checkbox" id="trash-type-dangerous"      value="dangerous" name="place[trashes_on_site][]" class="hidden">
    </div>

    <%= f.submit 'Alert', class: "big-button alert-button" %>

  <% end %>

</div>

<!-- navbar -->
