
<p></p>

<!-- map -->

<!-- photo du site -->
<%= cl_image_tag @place.mapmaster_photo, alt: "Photo of the site" %>
<!-- address -->
<%= @place.address %>
<!-- place status -->
<%= @place.status %>
<!-- place trash types -->
<%=  %>
<!-- material suggestions -->
<p>For this mission we suggest you bring</p>
<!-- go on a mission button -->
<%= f.submit 'GO ON THIS MISSION', class: "green-button" %>

<!-- safety tips -->
<p>Because we <i class="fas fa-heart"></i> and care about you, we would appreciate, you consider these safety recommendations ...Avoid contact with chimicals without gloves and be extra careful with sharp objects.</p>



