
<div class="header show-place align-show-place"><h1 class="center-place-address"><%= @place.address.upcase %></h1></div>


<div class="mission-show">
  <div class="mission-details">
    <!-- map -->
    <div class="photo-basic-infos">
      <div class="mission-photo">
      <!-- photo du site -->
        <%= cl_image_tag @place.mapmaster_photo, alt: "Photo of the place", class:'place-photo' %>
      </div>
      <div class="address-status">
        <!-- address -->
        <i class="fas fa-map-marker-alt"></i> <%= @place.address %>
        <!-- place status -->
        <em><%= @place.status %> </em>
      </div>
    </div>
    <div class="type-of-trashes">
      <p><em>Watch out !</em> The Mapmaster reported a real mess !</p>
      <!-- place trash types -->

      <div class="icons-trash-type">
        <% @place.trashes_on_site.each do |trash| %>
          <%= image_tag "icons/trash-types/#{trash.parameterize(separator: '_')}.svg", class: "icon-trash" %>
        <% end %>
      </div>
      <%# image_tag "icons/trash-types/png/bottle.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/can.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/dangerous.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/fish.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/fridge.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/gasoline.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/plastic-bottle.png", class: "trashes-type-icon" %>
      <%# image_tag "icons/trash-types/png/trash.png", class: "trashes-type-icon" %>
    </div>
    <!-- material suggestions -->
    <div class="bring-bloc">
      <p>For this mission we suggest you bring</p>

      <div class="icons-tools-to-bring">
        <% @place.equipments.each do |equipment| %>
          <%= image_tag "icons/equipment/#{equipment.parameterize(separator: '_')}_icon.png", class: "icon-equipment" %>
        <% end %>
      </div>

      <button type="button" class="nav-btn green-btn" id="go-on-mission-btn-show" data-toggle="modal" data-target="#exampleModalCenter">
        GO ON MISSION
      </button>

    </div>

    <!-- go on a mission button -->
    <!-- pop up de demande sur la date -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ready to go? <br> Select a (greenie) date <i class="fas fa-leaf"></i></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= simple_form_for [@place, @mission] do |f| %>
            <div class="modal-body">
                  <%= f.input :date, as: :date, html5: true, input_html: { :style=> 'width: 180px', value: Date.today } %>
                  <%= f.input :time_slot, collection: Mission::TIME, input_html: { :style=> 'width: 180px' } %>
            </div>
            <div class="modal-footer">
              <button type="button" class="nav-btn green-btn" data-dismiss="modal">Close</button>
              <%= f.submit value: "Submit", class: 'nav-btn green-btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- safety tips -->
  </div>
</div>
<div class="safety">
  <p>Because we <i class="fas fa-heart"></i> and care about you, we would appreciate, you consider these safety recommendations ...Avoid contact with chimicals without gloves and be extra careful with sharp objects.</p>
</div>
