<div class="header show-place"></div>
<p></p>

<!-- map -->

<!-- photo du site -->
<%= cl_image_tag @place.mapmaster_photo, alt: "Photo of the site" %>
<!-- address -->
<%= @place.address %>
<!-- place status -->
<%= @place.status %>
<!-- place trash types -->
<%=  %>
<!-- material suggestions -->
<p>For this mission we suggest you bring :</p>
 <p>emoticon verts: gants, sac || emoticons condition : rateau, brouette</p>
<% if @place.volume > 2 %>
  <p> emoticon rateau en vert </p>
<% elsif @place.volume >= 3%>
  <p>emoticon brouette en vert </p>
<% end %>

<!-- go on a mission button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  GO ON MISSION
</button>
<!-- pop up de demande sur la date -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ready to go? <br> Select a (greenie) date <i class="fas fa-leaf"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@place, @mission] do |f| %>
        <div class="modal-body">
              <%= f.input :date, as: :date, html5: true, input_html: { :style=> 'width: 180px', value: Date.today } %>
              <%= f.input :time_slot, collection: Mission::TIME, input_html: { :style=> 'width: 180px' } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit value: "Submit", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- safety tips -->
<div class="safety">
<p>Because we <i class="fas fa-heart"></i> and care about you, we would appreciate, you consider these safety recommendations ...Avoid contact with chimicals without gloves and be extra careful with sharp objects.</p>
</div>



