
<div class="header show-place">
  <h1>GET MORE DETAILS</h1>
</div>

<div class="mission-show">
  <div class="mission-details">

    <!-- map -->
    <div
    id="map"
    style="width: 100%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >

    <!-- photo du site -->
    <div class="mission-photo">
      <%= cl_image_tag @place.mapmaster_photo, alt: "Photo of the place", class:'place-photo' %>
    </div>

  </div>

    <div class="show-place-details">
      <p class="show-place-address"><i class="fas fa-map-marker-alt"></i> <%= @place.address %></p>

      <% if @place.volume == 1 %>
        <div class="trash-level-message-box">
          <%= image_tag "icons/level/level_one_trash.png", class: "icon-level-of-trash" %>
        </div>

      <% elsif @place.volume == 2 %>
        <div class="trash-level-message-box">
          <%= image_tag "icons/level/level_two_trash.png", class: "icon-level-of-trash" %>
        </div>

      <% elsif @place.volume == 3 %>
        <div class="trash-level-message-box">
          <%= image_tag "icons/level/level_three_trash.png", class: "icon-level-of-trash" %>
        </div>

      <% elsif @place.volume == 4 %>
        <div class="trash-level-message-box">
          <%= image_tag "icons/level/level_four_trash.png", class: "icon-level-of-trash" %>
        </div>

      <% elsif @place.volume == 5 %>
        <div class="trash-level-message-box">
          <%= image_tag "icons/level/level_five_trash.png", class: "icon-level-of-trash" %>
        </div>

      <% end %>

    </div>
    <hr>

    <div class="type-of-trashes">
      <p class="watch-out-message">Watch out!</p>
      <p>The Mapmaster reported a real mess!</p>

      <!-- place trash types -->
      <% @place.trashes_on_site.each do |trash| %>
        <%= image_tag "icons/trash-types/#{trash.parameterize(separator: '_')}.svg", class: "show-icon-trash" %>
      <% end %>
    </div>

    <hr>

    <!-- material suggestions -->
    <div class="bring-bloc">
      <p class="equipment-suggestions">You might need a bit of equipment:</p>

      <% @place.equipments.each do |equipment| %>
          <%= image_tag "icons/equipment/#{equipment.parameterize(separator: '_')}_icon.png", class: "icon-equipment" %>
      <% end %>
    </div>

    <% if @mission_user %>
     <p class="days-to-mission-count">Your mission is in <span class="days-to-mission"><%= (@mission_user.date - Date.today).to_i %></span> days</p>
    <% else %>
      <div class="go-on-mission-button">
      <button type="button" class="nav-btn green-btn go-on-mission-button go-on-mission-button-show join-mission-small" data-toggle="modal" data-target="#goOnMissionModal">
          GO ON MISSION
        </button>
      </div>
    <% end %>

    <!-- pop up de demande sur la date -->
    <% mission_has_errors = !@mission.errors.empty? %>
    <div class="modal fade" id="goOnMissionModal" data-has-errors="<%= mission_has_errors %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <div class="modal-header-title"></div>
              <h1 class="modal-title" id="exampleModalLongTitle">Ready to go?</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <%= simple_form_for [@place, @mission] do |f| %>

              <div class="modal-body">
                <%= f.input :date, as: :string, required: true, label: "Select date", input_html: { id: "datepicker" } %>

                <%= f.label :time_slot, required: true, label: "Select time slot" %>
                <% if @mission.errors['time_slot'].present? %>
                  <div class="form-group string required mission_date form-group-invalid">
                    <div class="invalid-feedback" style="display: block">Time slot <%= @mission.errors['time_slot'].first %></div>
                  </div>
                <% end %>

                <div class="time-slot-selection-wrapper">
                  <%= f.collection_radio_buttons :time_slot, Mission::TIME, :to_s, :capitalize %>
                </div>

              </div>

              <div class="modal-footer">
                <!-- <button type="button" class="nav-btn green-btn" data-dismiss="modal">Close</button> -->
                <%= f.submit value: "Submit", class: 'nav-btn green-btn', data: { disable_with: 'Submit' } %>
              </div>

            <% end %>

          </div>
        </div>
      </div>
  </div>
</div>

    <!-- safety tips -->
<div class="safety">
  <p>Because we<i class="fas fa-heart"></i> and care about you, please consider the following safety recommendations. Avoid contact with chemicals without gloves and be careful with sharp objects.</p>
</div>
