<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome on Green-Map !</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="app-wrapper">
    <%= render 'shared/flashes' %>
    <%= yield %>

    <% should_display_home_navbar = params[:controller] == 'pages' && params[:action] == 'home' %>

    <% unless should_display_home_navbar %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
